---
layout: default
---

<div class="container" style="margin-top: 15px;">
    <div class="row">
        {% for post in site.posts %}
        <div class="col-md-4 mb-4">
            {% if post.categories[0] == "web" %}
                <div class="cards" style="background-color: #ff4242;">
            {% elsif post.categories[0] == "jogos" %}
                <div class="cards" style="background-color: #51ff7a;">
            {% else %}
                <div class="cards" style="background-color: #c1c1c1">
            {% endif %}

                {% if post.categories[0] == "web" %}
                    <div class="card-header text-center" style="background-color: #ff4242"><a class="link-style" href="{{ post.url }}">{{ post.title }}</a></div>
                {% elsif post.categories[0] == "jogos" %}
                    <div class="card-header text-center" style="background-color: #51ff7a"><a class="link-style" href="{{ post.url }}">{{ post.title }}</a></div>
                {% else %}
                    <div class="card-header text-center" style="background-color: #c1c1c1;"><a class="link-style" href="{{ post.url }}">{{ post.title }}</a></div>
                {% endif %}
                <div class="card-info">
                    <div class="card-date text-center float-right">{{ post.date | date: "%-d/%-m/%Y" }}</div>
                    <div class="card-category text-center float-left">{% if post.categories[0] != nil %}<i class="fa fa-tags" aria-hidden="true"></i><a class="link-style" href="{{ site.url }}/{{ post.categories }}">{% endif %}{{ post.categories[0] }}</a></div>
                </div>
                {% if post.categories[0] == "web" %}
                    <div class="card-description text-left" style="background-color: #ff4242">{{ post.description}}</div>
                {% elsif post.categories[0] == "jogos" %}
                    <div class="card-description text-left" style="background-color: #51ff7a">{{ post.description}}</div>
                {% else %}
                    <div class="card-description text-left" style="background-color: #c1c1c1">{{ post.description}}</div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
