---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    {% if page.categories[0] == "webdev" %}
        <h2 class="post-title text-center" style="background-color: #ff5454">{{ page.title }}</h2>
    {% elsif page.categories[0] == "gamedev" %}
        <h2 class="post-title text-center" style="background-color: #4ba4ed">{{ page.title }}</h2>
    {% elsif page.categories[0] == "misc" %}
        <h2 class="post-title text-center" style="background-color: #86f780">{{ page.title }}</h2>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-10 post-content">
                {{ content }}
                {% include disqus.html %}

            </div>
            <div class="col-xs-1">
            </div>
        </div>
    </div>
</article>
